<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/add" method="POST">
    <p>
      <label for="user">
        <input type="text" name="user" id="user" autofocus>
      </label>
    </p>
    <p>
    <input type="submit" value="Add a user">
    </p>
  </form>
</body>
</html>